<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>StringsTable</key>
        <string>Root</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>THE SDK IS PROVIDED “AS IS.” SYNTELLIA MAKES NO WARRANTY REGARDING THE SDK (OR ANY ACCOMPANYING DOCUMENTATION), OR THE USE OR OPERATION THEREOF, AND SPECIFICALLY DISCLAIMS THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
IN NO EVENT WILL SYNTELLIA BE LIABLE FOR ANY DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF SYSTEM AVAILABILITY, LOSS OF COMPUTER RUN TIME, LOSS OF BUSINESS INFORMATION, COST OF COVER OR OTHER SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR INDIRECT DAMAGES, ARISING OUT OF THE USE OR INABILITY TO USE THE SDK (OR ANY ACCOMPANYING DOCUMENTATION), WHETHER BASED ON CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE AND EVEN IF SYNTELLIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE THAT YOU SHALL HAVE THE SOLE RESPONSIBILITY FOR PROTECTING YOUR DATA, BY PERIODIC BACKUP OR OTHERWISE, USED IN CONNECTION WITH THE SDK. IN NO EVENT WILL SYNTELLIA’S TOTAL LIABILITY TO COMPANY FOR ANY DAMAGES EXCEED THE AMOUNT PAID BY YOU TO SYNTELLIA HEREUNDER. THE PARTIES ACKNOWLEDGE THAT THIS IS A REASONABLE ALLOCATION OF RISK.</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
        </array>
    </dict>
</plist>
